---
import "./HeroSection.css"
import StickNote from "./StickNote.astro"
import Header from "./Header.astro"
---

<section
  class="relative mb-8 border-b-4 border-black pb-4 flex flex-col md:flex-row md:justify-between items-center md:items-end gap-6 overflow-visible"
>
  <Header />
  <StickNote />
</section>
