<!-- DAILY LAUGH -->
<div
  class="p-4 md:border-r border-black flex flex-col md:items-center items-start md:text-center text-left paper-mid mb-6 md:mb-0"
>
  <div class="relative mb-6 inline-block">
    <div
      class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-[115%] h-[110%] bg-[#FFEE00] -rotate-1 z-0"
      style="clip-path: polygon(1% 20%, 99% 10%, 98% 80%, 2% 90%);"
    >
    </div>
    <h2
      class="text-2xl font-newspaper-title relative z-10 px-1 uppercase tracking-tight text-black"
    >
      Daily Laugh
    </h2>
  </div>
  <div
    class="font-newspaper-text text-sm italic leading-snug halftone border-l-2 border-black p-2 md:pl-4 pl-2 w-full"
  >
    "Why do programmers prefer dark mode? Because light attracts bugs!"
  </div>
</div>
