---
import "./AboutSection.css"
import About from "./About.astro"
import Skills from "./Skills.astro"
---

<section
  class="grid grid-cols-1 md:grid-cols-4 gap-6 mb-12 border-b-4 border-black pb-10 items-stretch"
>
  <About />
  <Skills />
</section>
